*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    gap: 5px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color:azure;
}
.box{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color:aliceblue;
    gap: 10px;
}
.box1-1 {
display: flex;
gap: 50px;
}
.box1-1-1{
    color: red;
}

.box1-2{
    display: flex;
    gap: 10px;
}
.box1-2 i{
    background-color: orangered;
    border: 2px solid white;
    padding: 5px;
    color: white;
    border-radius: 30px;
}

.box1-2 i,h3{
    align-self: center;
}

.box2-1 {
    display: flex;
    gap: 50px;

    }

 .box2-1-1{
        color:green;
    }
    
.box2-2{
    display: flex;
    gap: 10px;
}   
.box2-2 i{
    background-color:green;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 30px;
}
    
 .box2-2 i,h3{
        align-self: center;
    }



.box3-1 {
    display: flex;
    gap: 50px;
    }
    .box3-1-1{
        color: green;
    }
    
.box3-2{
    display: flex;
    gap: 10px;
}   
.box3-2 i{
    background-color:orangered;
    border: 2px solid white;
    color: white;
    padding: 5px;
    border-radius: 30px;
}
    
 .box3-2 i,h3{
        align-self: center;
    }


    .box4-1 {
        display: flex;
        gap: 50px;
        }
        .box4-1-1{
            color: red;
        }
        
    .box4-2{
        display: flex;
        gap: 10px;
    }   
    .box4-2 i{
        background-color:yellow;
        border: 2px solid white;
        color: white;
        padding: 5px;
        border-radius: 30px;
    }
        
     .box4-2 i,h3{
            align-self: center;
        }
    
        @media(max-width:700px)
        {
            .container{
                flex-direction: column;
                justify-content: stretch;
                align-items: stretch;
            }
            .box{
                background-color: yellowgreen;
            }
        }